#about-me {
  padding: 6rem 2rem;

  .about-text .intro {
    font-style: italic;
    color: #444;
  }

  .about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    align-items: center;
    max-width: 120rem;
    margin: 0 auto;

    .about-image {
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        max-width: 100%;
        border-radius: 1rem;
        box-shadow: 0 0.8rem 2rem rgba(0, 0, 0, 0.4); // subtle depth
      }
    }

    .about-text {
      max-width: 60rem;
      text-align: left;
      h2 {
        font-size: 2.8rem;
        color: var(--color-accent);
        margin-bottom: 1rem;
      }
      p {
        font-size: 2rem;
        color: var(--color-text-light);
        line-height: 1.5;
        margin-bottom: 1.5rem;
      }

      .btn {
        display: inline-block;
        padding: 1rem 2rem;
        background: var(--color-accent);
        color: #fff;
        border-radius: 0.5rem;
        text-decoration: none;
        transition: background 0.3s;

        // &:hover {
        //   background: lighten(var(--color-accent), 10%);
        // }
      }
    }
  }
}
