#Intro-section {
  .Intro-title {
    display: flex;
    justify-content: center;
    padding: 4rem 0 0 0;
    font-size: 3rem;
  }
  .carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: var(--color-body-bg);

    .carousel-slide {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%; // if we remove it, then we keep the original demensions
      height: 100%;
      opacity: 0;
      transition: opacity 1s ease;

      &.active {
        opacity: 1;
      }

      img {
        width: 90%;
        height: 90%;
        object-fit: cover;
        box-shadow: 0 0.8rem 2.5rem rgba(0, 0, 0, 0.6);
        border-radius: 1rem;

        &.migrant-mother {
          object-position: 50% 20%;
        }

        &.firstKiss {
          object-position: 50% 30%;
        }
      }

      .carousel-text {
        position: absolute;
        bottom: 7%;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        color: white;
        max-width: 60rem;
        background: rgba(0, 0, 0, 0.6);
        padding: 1.2rem 1.8rem;
        border-radius: 0.6rem;
        font-size: 2rem;
      }
    }
  }
}
