#navbar {
  position: fixed;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: center;
  background-color: var(--color-navbar-bg);
  font-size: 2rem;

  .nav-links {
    list-style: none;
    display: flex;
    justify-content: space-evenly; // spreads items evenly across full width
    width: 100%; // make ul span the navbar
    padding: 2rem 0;
    margin: 0;

    li {
      position: relative;

      a {
        color: var(--color-text);
        text-decoration: none;
        padding: 1rem;
        transition: color 0.3s;

        &:hover {
          color: var(--color-accent);
        }
      }

      .dropdown {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        top: 4rem;
        left: 0;
        background: var(--color-dropdown-bg);
        list-style: none;
        padding: 1rem 0;
        min-width: 18rem;
        transition: all 0.2s ease-in-out;
      }

      &:hover .dropdown {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}
