#navbar {
  background: var(--color-navbar-bg);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  z-index: 1000;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  font-size: 2rem;

  .nav-links {
    list-style: none;
    display: flex;
    justify-content: space-evenly; // spreads items evenly across full width
    width: 100%; // make ul span the navbar
    padding: 2rem 0;
    margin: 0;

    li {
      position: relative;

      a {
        color: var(--color-text-main);
        text-decoration: none;
        padding: 1rem 1.5rem;
        transition: color 0.3s;

        &:hover {
          color: var(--color-accent);
        }
      }

      .dropdown {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        top: 4rem;
        left: 0;
        background: #fff;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
        border-radius: 0.5rem;
        list-style: none;
        padding: 1rem 0;
        min-width: 18rem;
        transition: all 0.2s ease-in-out;
      }

      &:hover .dropdown {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}
